{% extends "blog/base/base.html" %}
{% block content %}


<section class="announce-hero">
    <div class="announce-header">
      <div class="announce-icon">
        <i class="fa-solid fa-bullhorn"></i>
      </div>
      <div class="title">Announcement Section</div>
    </div>
    <p class="announce-description">
      The Announcement Section is a dedicated space for sharing important
      updates, news, or alerts with your audience. It allows you to
      communicate time-sensitive or high-priority information effectively,
      ensuring that users stay informed about the latest developments, events,
      or changes.
    </p>

    <a href="{% url 'post-create' %}" class="btn">Add new Post</a>

  </section>
  
  <!-- Recent Events Heading -->
  <div class="container" style="text-align: center; margin: 2rem auto;">
    <p class="section-heading">Recent Events</p>
  </div>
  
  <!-- Post Cards -->

  <div class="card-container">
    {% for post in posts %}
      {% include 'blog/includes/PostCard.html'%}
    {% endfor %}
   
    </div>
  
  {% endblock content %}
